#Data Science Tools and Ecosystem

####In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages
- List of popular libraries used in data science
- List of popular data science tools ide's
- How to use a markup cell in a jupyter notebook
- Use of arythmetic in a jupyter notebook

####Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

####Some of the commonly used libraries used by Data Scientists include:

1. GGPLOT (USED IN R)
2. GGPLO2 (USED IN R)
3. CARET (USED IN R)
4. DPLYR (USED IN R)
5. PANDAS (USED IN PYTHON)
6. NUMPY (USED IN PYTHON)

|Data Science Tools|
|-|
|GOOGLE COLAB|
|IBM WATSON STUDIO|
|VISUAL STUDIO CODE|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

##Author
Jeison Castelblanco Rodriguez